body{
  background-color: #0D13A9;
  text-align: center;
  font-style: normal;
  font-family: sans-serif;
}
h1{
  color :#581845;
}
section p, ul{
  font-size: #581845;
  color: purple;
  padding: 60;
}
