body{
  background-color: tan;
  font-family: sans-serif;
}

section h1{
  text-align: center;
}

section p{
  color: red;
  font-size: 20;
  font-family: sans-serif;
}
section p, ul, li{
  background-color: grey;
  font-size: 40;
  margin-left: 80;
}
